body {
    background: linear-gradient(to left, rgba(7, 27, 81, 1) 0%, rgba(0, 128, 128, 1));
}

.app {
    text-align: center;
}

h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 73px;
    color: #0ccac4;
}